.content{
	width:100%;
	padding-left: 15%;
}
.shopShow{
	position:relative;
	height:400px;
	width: 200px;
	border:1px solid #ccc;
}
.shopDetail{
	height:80px;
	width:200px;
	border-bottom:2px solid #5AA1FE;
	border-top:2px solid #5AA1FE;
	border-left: 1px solid #5AA1FE;
	background-color: #4593FD;
}
.shopDetail:hover{
	background-color:rgba(19,106,192,1);
}
.jiantou{
	margin-left: 20px;
}
.hot{
	margin-right: 30px;
	background-color: rgba(240,7,26,0.7);
}
.shopDetail_item{
	padding-top: 10px;
}
.shopDetail_item a{
	color:#D1E4FF;
}
.shopDetail_item dt a {
	font-size: 20px;
	padding-left: 10px;
}
.shopDetail_item dd{
	padding-left: 10px;
	padding-top: 5px;
}
.shopDetail_item dd a {
	margin-right: 5px;
}
.showDetail{
	position: absolute;
	margin-top: -80px;
	margin-left: 199px;
	height:400px;
	width:600px;
	border:5px solid #5AA1FE;
	background-color: #fff;
	z-index: 999;
	display: none;
}
#showEng{
	margin-top: -160px;
}
#showNov{
	margin-top: -240px;
}
#showTech{
	margin-top: -320px;
}
#showOther{
	margin-top: -400px;
}
.carousel{
	width:600px;
	height:400px;
	border:10px solid #ccc;
	margin-top: -400px;
	margin-left: 200px;
	position: relative;
}
.carousel-inner{
	position: absolute;
	height:380px;
	width:580px;
}
.carousel-caption{
	margin-bottom: 50px;
}
.carousel-caption h1{
	font-size: 35px;
	font-family:"SimHei",Georgia,Serif;
}
.detaile_left{
	position: absolute;
	height:390px;
	width:390px;
	padding:30px 20px 30px 20px;
	
}
.hr{
	display: block;
	margin-top: -1px;
}
.detaile_left dt a{
	font-size: 20px;
	margin-left: 10px;
	color:#000;
}
.detaile_left dt a:hover{
	text-decoration: none;
	color:orange;
}
.detaile_left dd a{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 15px;
	color:#000;
}
.detaile_left dd a:hover{
	text-decoration: none;
	color:orange;
	
}
.detaile_right{
	position: absolute;
	margin-left: 395px;
	height:390px;
	width:200px;
	padding:30px 10px 50px 10px;
}
.detaile_right_img{
	position: absolute;
	margin-top: -30px;
	margin-left: -20px;
}

.introduce-ad{
	position: absolute;
	width:200px;
	height:400px;
	border:10px solid #ccc;
	border-left: 0px;
	margin-left: 800px;
	margin-top: -400px;
}

.recommend{
	margin-top: 10px;
	width:1000px;
	padding:10px 30px 50px 30px;
	min-height: 800px;
	margin-bottom: 50px;
}
.recommend_left{
	float:left;
	margin-right: 220px;
}
.recommend_right{
	position: absolute;
	margin-left: 750px;
	margin-top: 50px;
	width:220px;
	border:1px solid #8ABCF6;
	border-radius: 5px;
	min-height: 500px;
}
.recommend_book{
	display:inline-block;
	margin-top: 10px;
	width:150px;
	margin-right: 20px;
	
}
.recommend_book_img{
	padding:10px;
	margin:10px;
	border:2px dotted #ccc;
}
.recommend_book_name{
	display:block;
	text-align: center;
	padding:10px;
	color:blue;
}
.recommend_book_writer{
	display:block;
	text-align: center;
	padding:10px;
	color:blue;
}
.recommend_book_price{
	color:red;
	text-align: center;
}
.recommend_right_head{
	height:50px;
	background-color: rgba(0,255,185,0.1);
}
.recommend_right_head h3{
	margin:0;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
.recommend_right_ul{
	list-style: none;
}
.recommend_right_ul li{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}
