.footer{
	width:100%;
	padding-left: 15%;
}
.footer_info{
	border-top: 2px solid #ccc;
	height:200px;
	position: relative;
	width:1010px;
}
.footer_info_ul{
	display:inline-block;
	list-style: none;
	width: 249px;
	border-right:1px solid #ccc;
	padding-left: 50px;
	
}
.foot_img{
	margin-left: -30px;
	margin-right: 10px;
}
.footer_info_ul h3{
	font-size: 20px;
	font-weight: bold;
}
.footer_info_ul a{
	color:#000;
}
.border_none{
	border:none;
}
.info2{
	width:100%;
	text-align: center;
}
.info2 ul{
	list-style: none;
}
.info2 ul li{
	float:left;
	margin-left: 2%;
	width:150px;
	text-align: center;
}
.info2 ul li a{
	color:#3C3939;
}
.bottom{
	width:1010px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	color:gray;
}

